.footer-list{
    color: $white;
    list-style: none;
    line-height: 25px;
}

.p-footer{
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 50px;
}

.footer-link{
    color: $white;
    margin: 0 5px;
    font-size: 20px;
}